{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
    <h2>CharlotteMTB Infrastructure & Analytics</h2>
    <p>The following tools are used to manage the CharlotteMTB site and provide insight into performance via KPIs.</p>
    <div class="module">
        <table>
            
            <tr>
                <td style="padding-left:15px;"><strong>Google Analytics:  </strong></td>
                <td style="padding-left:15px;"><a href="https://analytics.google.com/analytics/web/?authuser=1#/a389333833p530542660/reports/intelligenthome" target="_blank" class="button"> Open CharlotteMTB Website Analytics</a></td>
            </tr>
            <tr>
                <td style="padding-left:15px;"><strong>YouTube Analytics:  </strong></td>
                <td style="padding-left:15px;"><a href="https://studio.youtube.com/channel/UCgSYt1MR_uL3UXmkQIamF9A/analytics/tab-overview/period-default" target="_blank" class="button"> Open CharlotteMTB YouTube Analytics</a></td>
            </tr>
            <tr>
                <td style="padding-left:15px;"><strong>Figma Design:   </strong></td>
                <td style="padding-left:15px;"><a href="https://www.figma.com/design/8UAkuWL5Rp7RKstfz72no2/Untitled?node-id=0-1&m=dev&t=9seS6Hgsf7AcM7qg-1" target="_blank" class="button"> Open CharlotteMTB FIGMA Workspace</a></td>
            </tr>
            <tr>
                <td style="padding-left:15px;"><strong>GitHub Repository:  </strong></td>
                <td style="padding-left:15px;"><a href="https://github.com/protogenoserebos/MTB_Master" target="_blank" class="button"> Open CharlotteMTB GitHub Repository</a></td>
            </tr>
            <tr>
                <td style="padding-left:15px;"><strong>Digital Ocean VM:  </strong></td>
                <td style="padding-left:15px;"><a href="https://cloud.digitalocean.com/droplets/548737798/" target="_blank" class="button"> Open CharlotteMTB Digital Ocean Droplet (Virtual Machine)</a></td>
            </tr>
            <tr>
                <td style="padding-left:15px;"><strong>Google AdSense:  </strong></td>
                <td style="padding-left:15px;"><a href="https://adsense.google.com/adsense/u/1/pub-8145523760411744/sites/detail/url=charlottencmtb.com" target="_blank" class="button"> Open CharlotteMTB Google AdSense</a></td>
            </tr>
            
            
        </table>
    </div>
</div>
{% endblock %}