{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about-container">
<h3>About This Site</h3>
<p>This site is a sort of love letter to Carolina Mountain Biking. Firstly, it aims to serve riders of all abilities looking to explore mountain biking in Charlotte and surrounding areas. </p><p>Whether that's looking to level up your skills, finding great reccomendations and trail info on where to ride, or using Charlotte as a launching point to adventures in the mountains, we hope this site can be a quick start for finding the best MTB spots the Carolinas have to offer. </p>
<p>We are continuously adding new content and trail information to offer as complete a picture as we can on the area's trails, and ultimately we hope to keep things fairly up-to-date. If you want to contribute, correct, comment, or whatever, you can reach us <u><b><a href="mailto:developingwriter@gmail.com">here</a></b></u>.</p>
<h3>About Us</h3>
<p>We are a couple of brothers that have lived in Charlotte, North Carolina for 20+ years.</p>
<p>We are both avid outdoorsmen with a primary focus on Mountain Biking and Rock Climbing in and around North Carolina.</p>
<p>Currently, we've been both focused on bike parks and feature-focused trails that include jumps, drops, berms, etc., and you will see that reflected in alot of our media. However, we both still very much enjoy trail riding and some good flow so you will see that as well.</p>
<p style="margin-left: 0;"><img  onclick="openImage(this.src)" style="border:1px solid white; border-radius:10px; max-width:80vw; " src="{% static 'NCMTB/images/Brothers.png' %}" alt="Image of the authors." /></p>
</section>
{% endblock %}