{% extends 'base.html' %}
{% load static %}

{% block content %}
<head><title>Charlotte MTB | Blogs</title></head>
<section style="margin: 0 auto 60px;" class="blog-feature-spotlight">
    <h1 style="text-align:center;">Blog Posts</h1>
    <div class="card-intro">
        <p style="font-size:11pt; text-align: center; padding:0 5px;">
            Check out our latest articles on Charlotte, NC mountain biking spots.
        </p>
        
    </div>
<hr class="section-divider-blog">
<section class="blog-posts-container">

    {% for post in blogs %}
    <img style="margin-top:25px;max-width:100%;" src="{{ post.Title_img.url }}" alt="{{ post.Blog_Title.name }}" />
            <div class="card-info">
            <div class="blog-tile-short-desc" style="display:flex;flex-direction: column;" >{{ post.Intro_Text|safe }}</div>
            {% if post.Blog_Video %}
                    <div class="blog-video-container">
                        <iframe src="https://www.youtube.com/embed/{{ post.Blog_Video }}" title="YouTube player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>></iframe>
                    </div>
            {% endif %}

                
    

    

    <div style="display:flex;flex-direction: column;" class="blog-tile-short-desc">{{ post.Blog_Body|safe }}</div>
                
                <hr class="section-divider">
            </div>
    
    </a>
    {% empty %}
        <p style="text-align: center;">No blog posts found yet. Check back soon!</p>
    {% endfor %}
    </section>
</section>
{% endblock %}