{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div style="height: auto; background:linear-gradient(to right,#26a7dc30 0%,#26a7dc30 100%); font-weight:bold;padding:10px;margin-bottom:10px; margin-top:10px;border-radius: 10px;">
        <h3 style="text-align:center; font-size:13pt;">Charlotte, NC Mountain Biking</h3>
        <p style="text-align:center; font-size:11pt;">This site offers a curated list of (what we consider to be) the premiere mountain bike spots in and around Charlotte. </p><p style="text-align:center; font-size:11pt;">If you are new to Charlotte or just visiting, we hope this list offers a great starting point to visit the top MTB spots we have to offer. </p>
        
        <p style="text-align:center; font-size:11pt;"><a style="color:#26a7dc;" href="{% url 'about' %}" aria-label="About Us">Learn more about us.</a></p></div>
  <p style="text-align:center; font-size:11pt;">For a complete list of Charlotte trails and current trail statuses, visit: <a style="color:#26a7dc;" href="https://www.tarheeltrailblazers.com" aria-label="Tarheel Trailblazers website"><img style="max-width:150px; vertical-align: middle;" src="{% static 'NCMTB/images/Trailblazers.png' %}" alt="Charlotte NC MTB Logo" class="hero-image" /></a></p>
  
  <div style="display: grid; grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); gap: 30px; margin-top: 20px;">
        

        
                

<div class="trail-list-container">
    {% for trail in trails %}
    <a href="{{ trail.get_absolute_url }}" class="card-link-wrapper">
        <div class="card-container-whole">
            <div class="number-ranking"><p class="number-ranking">{{ trail.Order_Priority }}</p></div>
            <div class="card-container-image-wrap">
                <img class="card-container-image" src="{{ trail.Trail_Card_Logo.url }}" alt="{{ trail.Trail_Name }}">
            </div>

            <div class="card-container-details">
                <h3 class="card-title-text">{{ trail.Trail_Name }}</h3>

                <div class="card-stars-row"> 
                    <span style="color: #ffb400;">
                        {% for i in "12345" %}
                            {% if forloop.counter <= trail.average_rating %}★{% else %}☆{% endif %}
                        {% endfor %}
                    </span>
                    <span class="review-count-text">({{ trail.review_count }})</span>
                </div>
                
               
                    {% for line in trail.trail_short_card_description.splitlines %}
                        {% if line.strip %}
                            <p style="font-size:12pt; font-weight:bold;">{{ line }}</p>
                        {% endif %}
                    {% endfor %}
             
            </div>
        </div>
    </a>
    {% empty %}
        <p style="text-align: center;">No trails found.</p>
    {% endfor %}
</div>

{% endblock %}