{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about-container">
<h1>Privacy Policy</h1>
<p><b>Last Updated: April 29, 2026</b></p>

<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from this website.</p>

<h3>1. Personal Information We Collect</h3>

<p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site.</p>

<h3>2. How Do We Collect Information?</h3>

<p>We collect Device Information using the following technologies:</p>

<ul>

<li><b>Cookies:</b> Data files that are placed on your device or computer and often include an anonymous unique identifier.</li>

<li><b>Log Files:</b> These track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</li>

<li><b>Web Beacons, Tags, and Pixels:</b> Electronic files used to record information about how you browse the Site.</li>

</ul>

<h3>3. How Do We Use Your Personal Information?</h3>

<p>We use the information that we collect generally to:</p>

<ul>

<li>Optimize and improve our Site (for example, by generating analytics about how our customers browse and interact with the Site).</li>

<li>Assess the success of our marketing and advertising campaigns.</li>

<li>Provide you with information or advertising relating to our products or services when in line with the preferences you have shared with us.</li>

</ul>

<h3>4. Sharing Your Personal Information</h3>
<p>We share your Personal Information with third parties to help us use your Personal Information, as described above. For example:</p>



<ul>
    <li><b>Google AdSense:</b>  We use Google AdSense to serve ads. Google's use of advertising cookies enables it and its partners to serve ads based on your visit to our sites and/or other sites on the Internet.
    </li>
    <li><b>Google Analytics:</b> To help us understand how our customers use the Site. You can read more about how Google uses your Personal Information here: <a href="https://www.google.com/intl/en/policies/privacy/">https://www.google.com/intl/en/policies/privacy/</a>.</li>
</ul>


<h3>5. Your Rights</h3>
<p>If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.  </p>

<h3>6. Data Retention</h3>
<p>When you submit information through the Site (such as a contact form), we will maintain your Information for our records unless and until you ask us to delete this information.</p>

<h3>7. Changes</h3>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>

<h3>8. Contact Us</h3>
<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href="mailto:developingwriter@gmail.com">developingwriter@gmail.com</a>.</p>
</section>
{% endblock %}

