{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RIDE CHARLOTTE MTB</title>
    <link rel="stylesheet" href="{% static 'css/mtb_styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'NCMTB/images/CLTMTB_Icon.png' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8145523760411744"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B9DR4SSM32"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B9DR4SSM32');
</script>
<body>
    <header class="navbar1">
        <a class="hero-link" href="{% url 'home' %}" aria-label="Go to homepage">
            <img src="{% static 'NCMTB/images/CLTMTB.png' %}" alt="Charlotte NC MTB Logo" class="hero-image" />
        </a>
    </header>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>

</div>    
    <!-- Footer -->
    <footer class="site-footer-top">
      <div class="footer-inner">
        <p style="color: black; font-weight: bold; margin:0 0; font-size:10pt;">©2026 CHARLOTTEMTB</p><!--<p style="color:black; margin:5px 0; font-size:10pt;" class="footer-links">Developed & Hosted by: <a style="color:black" href="https://www.developing-writer.com">The Developing Writer</p>--><p style="margin:0 0 5px 0; font-size:10pt;"><a style="color:black" href="{% url 'about' %}" aria-label="About Us">About Us</a></p><p style="margin:0 0 5px 0; font-size:10pt;"><a style="color:black" href="mailto: developingwriter@gmail.com">Contact Us</a></p><p style="margin:0 0; font-size:10pt;"><a style="color:black" href="https://www.djangoproject.com/">Powered by Django</a></p></div> 
      </p></footer>
          <div class="site-footer-bottom">
        
      </div>
    </footer>
  </body>
</html>
